<!-- <app-child (someEvent)="DoSomething($event)">sadasdas</app-child> -->

<!-- <p #para>Some text</p>
<button (click)="clicks()">dsadasdas</button> -->

<!-- <app-child >
    <header>
        <input appFirstCaps type="text" #head>
    </header>
    <button class="btn btn-primary" >CLICK</button>
</app-child> -->

<!-- <p>{{"hoem" | firstLetterCaps}}</p> -->


<!-- <ng-container #vc></ng-container> -->

<p>Parernt</p>

<app-child>
  <!-- <p #head1>FROM CHILD</p> -->
  <h1 #head2>Angular</h1>
</app-child>
